.modal{
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
}

.modal-content{
    position: relative;
    background: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid red;
    width: 80%;
    color: #1e1e1e;
    border-radius: 10px;
}